$buttonSize: 28px;

@font-face {
  font-family: "Fontello Icons";
  src: url("../assets/fonts/fontello/fontello.woff2") format("woff2"),
    url("../assets/fonts/fontello/fontello.woff") format("woff");
}

.icon:before {
  font-family: "Fontello Icons";
  font-size: $buttonSize;
  line-height: 1;
}

.icon-account:before {
  content: "\e801";
}

.icon-mail:before {
  content: "\f0E0";
}

.icon-phone:before {
  content: "\e802";
}

.icon-cart:before {
  content: "\e803";
}

.icon-language:before {
  content: "\e804";
}

.icon-facebook:before {
  content: "\f230";
}

.icon-instagram:before {
  content: "\f16D";
}

.icon-chat:before {
  content: "\e800";
}

.icon-search:before {
  content: "\e805";
}

.icon-hamburger:before {
  content: "\f0C9";
}